@model NuPrescriber.Models.PrescriptionViewModels.Allergy

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Allergy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.IngredientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.PatientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AllergyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
