@model NuPrescriber.Models.PrescriptionViewModels.PrescribedDrug

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrescribedDrug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prescription.PrescriptionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proprietary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proprietary.ProprietaryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrescribedDrugId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
