@model IEnumerable<NuPrescriber.Models.PrescriptionViewModels.PrescribedDrug>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Dose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Frequency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instructions)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prescription.PrescriptionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietary.ProprietaryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescribedDrugId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescribedDrugId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescribedDrugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
