@model IEnumerable<NuPrescriber.Models.PrescriptionViewModels.PrescribedDrug>

@{
    ViewData["Title"] = "Details";
    int count = 0;
}
<script>
    $(document).ready(function () {
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('prescription.pdf');
    });
    });
</script>
<h2>Details</h2>

<div>
    <h4>Prescription</h4>
    <hr />
    <div id="content">
        <h2>@ViewData["Hospital"]</h2>
        <dl class="dl-horizontal">
            <dt>
                Date:
            </dt>
            <dd>
                @ViewData["Date"]
            </dd>
            <dt>
                Doctor/Department:
            </dt>
            <dd>
                @ViewData["Doctor"] | @ViewData["Department"]
            </dd>
            <dt>
                Patient:
            </dt>
            <dd>
                @ViewData["Patient"] | @ViewData["Age"] | @ViewData["Gender"]
            </dd>
            <br />
            <br />

                    @foreach (var item in Model)
                    {
                        count++;



                                @count @:. @Html.DisplayFor(modelItem => item.Proprietary.Name)

                                @:                 
  
                                @Html.DisplayFor(modelItem => item.Dose)

                        @: 

                                @Html.DisplayFor(modelItem => item.Frequency)

                        @: X 
                                @Html.DisplayFor(modelItem => item.Duration)

                        @: 

                                @Html.DisplayFor(modelItem => item.Instructions)
                        @:<br /><i>(

                        @ViewData[item.Proprietary.Name]

                        @:)</i><br />
                    }

        </dl>
    </div>
<div>
    <div id="editor"></div>
    <button id="cmd">generate PDF</button>

    <a asp-action="Index">Back to List</a>
</div>
