@model NuPrescriber.Models.PrescriptionViewModels.Proprietary

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proprietary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            Ingredients
        </dt>
        <dd>
            <ul>
                @{
                    List<string> selectedIngredients = ViewBag.SelectedIngredients;

                    foreach (var ingredient in selectedIngredients)
                    {
                        @:<li>@ingredient</li>
                    }
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProprietaryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
